.idea
node_modules

# Screenshot output directory
banner-shots

# Ignore campaign_info.toml, to be able to symlink it locally
campaign_info.toml

# might contain screenshot provider credentials
.env

# Docker-compose override files for differengt paths to screenshot
# directory and banner configuration.
docker-compose.dev.yml
docker-compose.prod.yml
